DB_DRIVER=      #mysql / postgres / etc
DB_HOST=        #YOUR DB HOST HERE
DB_PORT=        #YOUR DB PORT HERE
DB_NAME=        #Your DB NAME HERE
DB_USER=        #YOUR DB USER HERE
DB_PASSWORD=    #YOUR DB PASSWORD HERE

